.main {
  padding: 1rem;
  &--right {
    padding: 0 1rem;
    margin-left: 1rem;
  }
  &__header {
    margin-bottom: 1rem;
    &__breadcrumb {
      align-self: center;
    }
    &__func {
      text-align: right;
    }
  }
  &__content {
    background-color: $color-white;
    min-height: 20rem;
    padding: 1rem;
  }
}
